
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin: 0;
  padding: 0;
}



.header_reponsive {
    display: none;
}

.nav_bar_left {
  position: fixed;
  padding-top: 1px;
  background-color: $color-green;
  top: 0;
  width: 220px;
  height: 100vh;
}


.logo_img.img-responsive {
  margin: 0 auto;
  height: 150px;
  padding-top: 15px;
}
