// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//Font-awesome
@import "~font-awesome/scss/font-awesome.scss";



//////////////////////////////////////////////////////////
/////////////////////HEADER_RESPONSIVE//////////////////////////
////////////////////////////////////////////////////////

#headerMrS {
  display: none;
}


html {
  font-size: 100%;
  font-family: roboto;
}
body { background-color: #ffffff; /* blue-grey: 200*/}
.material-icons.md12 { font-size: 1.7rem; margin-top: 6px; }
.material-icons {
  position: absolute;
  top: 0.9rem;
  left: 1rem
}
.header_reponsive {
  width: 100%;
  z-index: 10;
  background-color: $color-green; /* pink color primario 500*/
  box-shadow: rgba(0,0,0,0.2) 0 2px 6px;
  display: block;
  top: 0;
}


/* icono-menú dinamico*/
.iconMenu {
  z-index: 10;
  position: relative;
  cursor: pointer;
  padding: 1em;
  width: 2.4rem;
}
.iconMenu .iconMenu-line {
  background-color: #fff;
  border-radius: 0.1rem;
  height: 0.4rem;
  width: 400%;
  transition: all 0.3s;
}
.iconMenu .iconMenu-line:nth-child(2) { margin: 0.4rem 0; }
/* Effects del icono */
.on .iconMenu--lineTop { transform: rotate(45deg) translate(.41rem, .81rem); }
.on .iconMenu--lineCenter { opacity: 0; }
.on .iconMenu--lineBottom { transform: rotate(-45deg) translate(.34rem, -.7rem); }


/*  Menú movile-first*/
.mainMenu { display: none; }
.mainMenu-list {
  margin: 0;
  padding: 0;
}
.mainMenu-item {
  position: relative;

  list-style: none;
}
.mainMenu-link {
  display: block;
  font-size: 1.2rem;
  color: #000; /* color negro*/
  background-color: #fff;
  padding: 1.2em;
  padding-left: 2.6em;
  text-decoration: none;
  transition: 0.3s;
}
.mainMenu-link:hover {
  background-color: #ECEFF1; /* color blue-grey 400*/
  color: #000;
  text-decoration: none;
}

.title_nav_responsive {
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 25px;
  margin-top: 16px;
  color: #ffffff;

}
.menu_scoll {
  height: 388pt;
  overflow: auto;
}

.mainMenu.js-toggleEffect {
  position: fixed;
  width: 100%;
}

//////////////////////////////////////////////////////////
/////////////////////NAV BAR LEFT DISPLAY NONE//////////////////////////
////////////////////////////////////////////////////////

.nav_bar_left {
  display: none;
}


//////////////////////////////////////////////////////////
/////////////////////CONTENTE WELCOME NONE//////////////////////////
////////////////////////////////////////////////////////
.content-desktop {
  display: none;
}